@import "../../node_modules/@primer/css/base/index.scss";

:root {
  --color-background: #{$blue-000};
  --color-text: #{$text-gray-dark};
  --color-term: #000000;
  --color-link: #{$text-blue};
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-background: #{$blue-900};
    --color-text: #{$blue-200};
    --color-term: #ffffff;
    --color-link: #{$blue-300};
  }
}
